
<!DOCTYPE html>
<html>
    <head>
        <link href="~/Content/themes/base/Bootstrap.css" rel="stylesheet" />
        body    { padding: 30px; }
        h3 code { font-size: 0.8em; }
    </head>
    
    <body>
        <h3>Aplifiers</h3>
        
        <table style="position:relative" class="table table-bordered table-condensed" data-bind="editableCellSelection: Selection" >
            <thead>
                <th width="30%">Regnumber</th>
                <th width="30%">Manufacturer</th>
                <th width="30%">Model</th>
            </thead>
            <tbody>
                <!-- ko foreach: entries -->
                <tr>
                    <td data-bind="text: RegNumber"></td>
                    <td data-bind="text: Manufacturer"></td>
                    <td data-bind="text: Model"></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <script src="~/Scripts/Amplifier.js"></script>
    </body>
</html>